.callbackForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.callbackForm__input {
    border: none;
    border-bottom: 1px solid var(--text-primary);
    outline: none;

    width: 50%;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-primary);
    text-align: center;
}

.callbackForm__input:focus {
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--text-hover);
}

.callbackForm__button {
    color: white;
    background: var(--control-primary);
    border: 0px;
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.callbackForm__button:hover {
    background: var(--control-primary-hover);
    cursor: pointer;
}

.callbackForm__accent {
    color: var(--text-secondary);
    font-weight: 500;
}