html,body,p,h1,h2{margin:0;padding:0}

body,.parallax {
    background-image: url("../images/background.jpg");
    background-color: #0e7b80;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

/* TODO: use self-hosting approach */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=IBM+Plex+Serif:wght@700&display=swap');

:root {
    --text-primary: #000;
    --text-secondary: #16535E;
    --text-hover: #F5F8F8;
    --text-contrast: #FFF;

    --control-primary: #3E9599;
    --control-secondary: #86BDBF;
}

.section {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 96px auto;
}

.section:first-child {
    margin-top: 0px;
}

.section h2 {
    color: var(--text-secondary);
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-size: 54px;
}

.section-illustrated {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 40px;
}

.section-illustrated ul {
    margin-bottom: 0px;
}

.section-possibilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-possibilities__header {
    margin: 0;
}

.section-possibilities__list>li::marker{
    color: var(--text-secondary);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }