html,body,h1,h2{margin:0;padding:0}

body,.parallax {
    background-image: url("../images/background.png");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* TODO: use self-hosting approach */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --text-primary: #146063;
    --text-contrast: #FFF;

    --control-primary: #3E9599;
    --control-secondary: #86BDBF;
}

.section {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 96px auto;
}

.section:first-child {
    margin-top: 0px;
}

.section-possibilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.section-possibilities__header {
    margin: 0;
}