.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  width: 100%;
}

.header__phone {
    color: white;
    padding: 5px;
    margin-left: 50px;
    text-decoration: none;
}

.header__phone:hover {
    text-decoration: underline;
}

.header__button {
    color: var(--text-contrast);
    background: var(--control-secondary);
    border: 0px;
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

    transition: opacity 0.2s;
}

.header__button--hidden {
    opacity: 0;
}
.header__button:hover {
    background: var(--control-secondary-hover) ;
    cursor: pointer;
}