.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  width: 100%;
}

.header__title {
    margin: 10px;
    transition: opacity 0.5s;
}

.header__title--hidden {
    opacity: 0;
}

.header__phone {
    color: white;
    padding: 5px;
    margin-left: 50px;
}

.header__button {
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}
.header__button:hover {
    color: aqua;
    border-color: aqua;
    cursor: pointer;
}