.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__title {
    transition: opacity 0.5s;
}

.header__title--hidden {
    opacity: 0;
}

.header__phone {
    color: white;
    padding: 5px;
    margin-left: 50px;
}

.header__button {
    color: white;
    background: rgba(223, 226, 104, 0.7);
    border: 0px solid #DFE268;
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.header__button:hover {
    background: #DFE268 ;
    cursor: pointer;
}