.footer {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    color: var(--text-contrast, #fff);
}

.footer__header {
    margin-top: 24px;
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-size: 42px;
}

.footer__container {
    display: flex;
    width: var(--section-width);
    flex-direction: row;
    justify-content: space-around;
}

.footer__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer__photo img {
    max-width: 200px;
}
.footer__designation {
    text-align: center;
}

.footer__contacts {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer__link {
    color: var(--text-contrast, #fff);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    align-self: start;
    margin: 4px;
    font-size: 12px;
}
