.serviceList {
    display: flex;
    gap: 5px; 
    justify-content: space-between;
}

.serviceCard {
    display: flex;
    flex-direction: column;
}

.serviceCard__title {
    text-align: center;
    user-select: none; 
    margin-top: 20px;
}