.banner {
    width: 100%; 
    min-height: 48vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.banner__slogan {
    color: white;
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-size: 42px;
    user-select: none;
}

.banner__header {
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    user-select: none;
}


.banner__button {
    color: var(--text-contrast);
    background: #709F68;
    box-shadow: 5px 5px 15px black;
    border: 0px;
    border-radius: 8px;
    padding: 40px 20px;
    text-align: center;
    font-family: 'IBM Plex Serif';
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}

.button__price {
    font-weight: 700;
    font-size: 42px;
}

.banner__button:hover {
    background: #8EBD86;
    cursor: pointer;
}